<li class="rating-list__item">
  <article class="rating-list__product product">
    <div class="product__wrap-img">
      <picture>
        <source srcset="../img/rating-sofa-2_320.webp" media="(max-width: 675px)">
        <img class="product__img" src="../img/rating-sofa-2.webp" alt="Диван апартековый “T-75”">
      </picture>
    </div>
    <div class="product__wrap-descr">
      <h3 class="product__subtitle subtitle"><no-typography>Диван апартековый “T-75”</no-typography></h3>
      <span class="product__price">69 990 руб</span>
      <a class="product__btn btn-transparent btn-reset" href="detail.html">Купить</a>
    </div>
    <span class="product__grade grade">4,9</span>
  </article>
</li>
