<li class="rating-list__item">
  <article class="rating-list__product product">
    <div class="product__wrap-img">
      <picture>
        <source srcset="../img/rating-sofa-1_320.webp" media="(max-width: 675px)">
        <img class="product__img" src="../img/rating-sofa-1.webp" alt="Диван кожаный “R-94”">
      </picture>
    </div>
    <div class="product__wrap-descr">
      <h3 class="product__subtitle subtitle"><no-typography>Диван кожаный “R-94”</no-typography></h3>
      <span class="product__price">94 990 руб</span>
      <a class="product__btn btn-transparent btn-reset" href="detail.html">Купить</a>
    </div>
    <span class="product__grade grade">5,0</span>
  </article>
</li>
