<li class="rating-list__item rating-list__item--768">
  <article class="rating-list__product product">
    <div class="product__wrap-img">
      <img class="product__img" src="../img/rating-sofa-12.webp" alt="Диван велюровый “S-44”">
    </div>
    <div class="product__wrap-descr">
      <h3 class="product__subtitle subtitle"><no-typography>Диван велюровый “S-44”</no-typography></h3>
      <span class="product__price">19 990 руб</span>
      <a class="product__btn btn-transparent btn-reset" href="detail.html">Купить</a>
    </div>
    <span class="product__grade grade">4,5</span>
  </article>
</li>
