<section class="feedback">
  <div class="feedback__wrapper">
    <div class="feedback__container container">
      <div class="feedback__inner">
        <div class="feedback__content content">
          <h2 class="content__title title">Мы всегда вам рады!</h2>
          <p class="content__descr text">Безусловно, новая модель организационной деятельности в значительной степени
            обусловливает важность распределения внутренних резервов и ресурсов.</p>
          <form class="content__form form" action="#">
            <input class="form__input" type="text" placeholder="Как вас зовут?">
            <input class="form__input" type="tel" placeholder="Ваш телефон">
            <input class="form__input" type="email" placeholder="Ваш e-mail">
            <button class="form__btn btn btn-reset">Отправить</button>
            <label class="form__checkbox-label">
              <input class="form__checkbox-input" type="checkbox" required>
              <span class="form__checkbox-text">Принимаю <strong class="form__agreement">пользовательское
                  соглашение</strong></span>
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
