<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__container container">
      <div class="hero__inner">
        <div class="hero__content">
          <h1 class="hero__title title">Скидка 15% <br class="hero__transfer-320"> на первую покупку</h1>
          <button class="hero__btn btn btn-reset">Получить!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__container hero__container--320 container">
    <button class="hero__btn hero__btn--320 btn btn-reset">Получить!</button>
  </div>
</section>
