<section class="new-collection">
  <div class="new-collection__wrapper">
    <div class="new-collection__container container">
      <div class="new-collection__inner">
        <h2 class="new-collection__title title"><strong class="new-collection__title-detailed">Оксфорд 1950</strong>
          Новая коллекция изысканных кресел </h2>
        <button class="new-collection__btn btn btn-reset">Ознакомиться</button>
      </div>
    </div>
  </div>
  <div class="new-collection__container new-collection__container--320 container">
    <button class="new-collection__btn new-collection__btn--320 btn btn-reset">Ознакомиться</button>
  </div>
</section>
