<section class="offer">
  <div class="offer__wrapper">
    <div class="offer__container container">
      <div class="offer__inner">
        <h2 class="offer__title title">Специальные предложения</h2>
        <ul class="offer__list offer-list list-reset">
          @include('special-offer/offer-chair.html')
          @include('special-offer/offer-sofa.html')
          @include('special-offer/offer-alarm.html')
          @include('special-offer/offer-dear.html')
          @include('special-offer/offer-sofa_320.html')
          @include('special-offer/offer-thermometer.html')
        </ul>
      </div>
    </div>
  </div>
</section>
