<section class="rating">
  <div class="rating__wrapper">
    <div class="rating__container container">
      <div class="rating__inner">
        <h2 class="rating__title title">Высокий рейтинг</h2>
        <ul class="rating__list rating-list list-reset">
          @include('rating-sofas/rating-sofa-1.html')
          @include('rating-sofas/rating-sofa-2.html')
          @include('rating-sofas/rating-sofa-3.html')
          @include('rating-sofas/rating-sofa-4.html')
          @include('rating-sofas/rating-sofa-5.html')
          @include('rating-sofas/rating-sofa-6.html')
          @include('rating-sofas/rating-sofa-7.html')
          @include('rating-sofas/rating-sofa-8.html')
        </ul>
      </div>
    </div>
  </div>
</section>
