<section class="top">
  <div class="top__wrapper">
    <div class="top__container container">
      <div class="top__inner">
        <h2 class="top__title title">Топ категории</h2>
        <ul class="top__list top-list list-reset">
          <li class="top-list__item top-list__item--big">
            <ul class="top-list__kinds kinds list-reset">
              <li class="kinds__view"><a class="kinds__link" href="#">Прямые</a></li>
              <li class="kinds__view"><a class="kinds__link" href="#">Угловые</a></li>
              <li class="kinds__view"><a class="kinds__link" href="#">Модульные</a></li>
            </ul>
            <h3 class="top-list__subtitle subtitle">Диваны
              <a class="subtitle__link" href="catalog.html">
                <svg width="22.000000" height="22.000000" viewBox="0 0 23 23" fill="none"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g clip-path="url(#clip13_1495)">
                    <circle cx="11.000000" cy="11.000000" r="10.000000" stroke-opacity="1.000000"
                      stroke-width="2.000000"></circle>
                    <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-opacity="1.000000" stroke-width="2.000000"
                      stroke-linejoin="round" stroke-linecap="round"></path>
                  </g>
                </svg>
              </a>
            </h3>
            <div class="top-list__img-wrap">
              <picture>
                <source srcset="../img/top-sofa_320.webp" media="(max-width: 636px)">
                <source srcset="../img/top-sofa_1024.webp" media="(max-width: 1366px)">
                <img class="top-list__img" src="../img/top-sofa.webp" alt="Диван">
              </picture>
            </div>
            <div class="top-list__wrap-link">
              <a class="top-list__link link" href="catalog.html">В каталог
                <svg width="22.000000" height="22.000000" viewBox="0 0 23 23" fill="none"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g clip-path="url(#clip13_1495)">
                    <circle cx="11.000000" cy="11.000000" r="10.000000" stroke-opacity="1.000000"
                      stroke-width="2.000000"></circle>
                    <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-opacity="1.000000" stroke-width="2.000000"
                      stroke-linejoin="round" stroke-linecap="round"></path>
                  </g>
                </svg>
              </a>
            </div>
          </li>
          <li class="top-list__item top-list__item--big">
            <ul class="top-list__kinds kinds list-reset">
              <li class="kinds__view"><a class="kinds__link" href="#">Мягкие</a></li>
              <li class="kinds__view"><a class="kinds__link" href="#">Кресла-кровати</a></li>
            </ul>
            <h3 class="top-list__subtitle subtitle">Кресла
              <a class="subtitle__link" href="catalog.html">
                <svg width="22.000000" height="22.000000" viewBox="0 0 23 23" fill="none"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g clip-path="url(#clip13_1495)">
                    <circle cx="11.000000" cy="11.000000" r="10.000000" stroke-opacity="1.000000"
                      stroke-width="2.000000"></circle>
                    <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-opacity="1.000000" stroke-width="2.000000"
                      stroke-linejoin="round" stroke-linecap="round"></path>
                  </g>
                </svg>
              </a>
            </h3>
            <div class="top-list__img-wrap">
              <picture>
                <source srcset="../img/top-chair_320.webp" media="(max-width: 636px)">
                <source srcset="../img/top-chair_1024.webp" media="(max-width: 1366px)">
                <img class="top-list__img" src="../img/top-chair.webp" alt="Кресло">
              </picture>
            </div>
            <div class="top-list__wrap-link">
              <a class="top-list__link link" href="catalog.html">В каталог
                <svg width="22.000000" height="22.000000" viewBox="0 0 23 23" fill="none"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g clip-path="url(#clip13_1495)">
                    <circle cx="11.000000" cy="11.000000" r="10.000000" stroke-opacity="1.000000"
                      stroke-width="2.000000"></circle>
                    <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-opacity="1.000000" stroke-width="2.000000"
                      stroke-linejoin="round" stroke-linecap="round"></path>
                  </g>
                </svg>
              </a>
            </div>
          </li>
          <li class="top-list__item">
            <ul class="top-list__kinds kinds list-reset">
              <li class="kinds__view"><a class="kinds__link" href="#">Односпальные</a></li>
              <li class="kinds__view"><a class="kinds__link" href="#">Двуспальные</a></li>
            </ul>
            <h3 class="top-list__subtitle subtitle">Кровати
              <a class="subtitle__link" href="catalog.html">
                <svg width="22.000000" height="22.000000" viewBox="0 0 23 23" fill="none"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g clip-path="url(#clip13_1495)">
                    <circle cx="11.000000" cy="11.000000" r="10.000000" stroke-opacity="1.000000"
                      stroke-width="2.000000"></circle>
                    <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-opacity="1.000000" stroke-width="2.000000"
                      stroke-linejoin="round" stroke-linecap="round"></path>
                  </g>
                </svg>
              </a>
            </h3>
            <div class="top-list__img-wrap">
              <picture>
                <source srcset="../img/top-bed_320.webp" media="(max-width: 636px)">
                <source srcset="../img/top-bed_1024.webp" media="(max-width: 1366px)">
                <img class="top-list__img" src="../img/top-bed.webp" alt="Кровать">
              </picture>
            </div>
            <div class="top-list__wrap-link">
              <a class="top-list__link link" href="catalog.html">В каталог
                <svg width="22.000000" height="22.000000" viewBox="0 0 23 23" fill="none"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g clip-path="url(#clip13_1495)">
                    <circle cx="11.000000" cy="11.000000" r="10.000000" stroke-opacity="1.000000"
                      stroke-width="2.000000"></circle>
                    <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-opacity="1.000000" stroke-width="2.000000"
                      stroke-linejoin="round" stroke-linecap="round"></path>
                  </g>
                </svg>
              </a>
            </div>
          </li>
          <li class="top-list__item">
            <ul class="top-list__kinds kinds list-reset">
              <li class="kinds__view"><a class="kinds__link" href="#">Тумбы</a></li>
              <li class="kinds__view"><a class="kinds__link" href="#">Комоды</a></li>
            </ul>
            <h3 class="top-list__subtitle subtitle">Тумбы и комоды
              <a class="subtitle__link" href="catalog.html">
                <svg width="22.000000" height="22.000000" viewBox="0 0 23 23" fill="none"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g clip-path="url(#clip13_1495)">
                    <circle cx="11.000000" cy="11.000000" r="10.000000" stroke-opacity="1.000000"
                      stroke-width="2.000000"></circle>
                    <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-opacity="1.000000" stroke-width="2.000000"
                      stroke-linejoin="round" stroke-linecap="round"></path>
                  </g>
                </svg>
              </a>
            </h3>
            <div class="top-list__img-wrap">
              <picture>
                <source srcset="../img/top-dresser_320.webp" media="(max-width: 636px)">
                <source srcset="../img/top-dresser_1024.webp" media="(max-width: 1366px)">
                <img class="top-list__img" src="../img/top-dresser.webp" alt="Комод">
              </picture>
            </div>
            <div class="top-list__wrap-link">
              <a class="top-list__link link" href="catalog.html">В каталог
                <svg width="22.000000" height="22.000000" viewBox="0 0 23 23" fill="none"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g clip-path="url(#clip13_1495)">
                    <circle cx="11.000000" cy="11.000000" r="10.000000" stroke-opacity="1.000000"
                      stroke-width="2.000000"></circle>
                    <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-opacity="1.000000" stroke-width="2.000000"
                      stroke-linejoin="round" stroke-linecap="round"></path>
                  </g>
                </svg>
              </a>
            </div>
          </li>
          <li class="top-list__item">
            <ul class="top-list__kinds kinds list-reset">
              <li class="kinds__view"><a class="kinds__link" href="#">Деревянные</a></li>
              <li class="kinds__view"><a class="kinds__link" href="#">Металлокаркас</a></li>
            </ul>
            <h3 class="top-list__subtitle subtitle">Стулья
              <a class="subtitle__link" href="catalog.html">
                <svg width="22.000000" height="22.000000" viewBox="0 0 23 23" fill="none"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g clip-path="url(#clip13_1495)">
                    <circle cx="11.000000" cy="11.000000" r="10.000000" stroke-opacity="1.000000"
                      stroke-width="2.000000"></circle>
                    <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-opacity="1.000000" stroke-width="2.000000"
                      stroke-linejoin="round" stroke-linecap="round"></path>
                  </g>
                </svg>
              </a>
            </h3>
            <div class="top-list__img-wrap">
              <picture>
                <source srcset="../img/top-pew_320.webp" media="(max-width: 636px)">
                <source srcset="../img/top-pew_1024.webp" media="(max-width: 1366px)">
                <img class="top-list__img" src="../img/top-pew.webp" alt="Стулья">
              </picture>
            </div>
            <div class="top-list__wrap-link">
              <a class="top-list__link link" href="catalog.html">В каталог
                <svg width="22.000000" height="22.000000" viewBox="0 0 23 23" fill="none"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g clip-path="url(#clip13_1495)">
                    <circle cx="11.000000" cy="11.000000" r="10.000000" stroke-opacity="1.000000"
                      stroke-width="2.000000"></circle>
                    <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-opacity="1.000000" stroke-width="2.000000"
                      stroke-linejoin="round" stroke-linecap="round"></path>
                  </g>
                </svg>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
