<section class="useful">
  <div class="useful__wrapper">
    <div class="useful__container container">
      <div class="useful__inner">
        <h2 class="useful__title title">Полезное</h2>
        <ul class="useful__list useful-list list-reset">
          <li class="useful-list__item">
            <img class="useful-list__img" src="../img/useful-card-1.webp" alt="Pic-1">
            <div class="useful-list__content-wrap">
              <p class="useful-list__descr text">И нет сомнений, что сделанные на базе интернет-аналитики выводы
                представляют
                собой не что иное?</p>
              <button class="useful-list__btn btn-transparent btn-reset">Читать</button>
            </div>
          </li>
          <li class="useful-list__item">
            <img class="useful-list__img" src="../img/useful-card-2.webp" alt="Pic-2">
            <div class="useful-list__content-wrap">
              <p class="useful-list__descr text">Как принято считать, некоторые особенности приносят несомненную пользу
                обществу?</p>
              <button class="useful-list__btn btn-transparent btn-reset">Читать</button>
            </div>
          </li>
          <li class="useful-list__item useful-list__item--1024">
            <img class="useful-list__img" src="../img/useful-card-3_1024.webp" alt="Pic-3">
            <div class="useful-list__content-wrap">
              <p class="useful-list__descr text">Ясность нашей позиции очевидна: укрепление и развитие внутренней
                структуры?</p>
              <button class="useful-list__btn btn-transparent btn-reset">Читать</button>
            </div>
          </li>
          <li class="useful-list__item useful-list__item--320">
            <img class="useful-list__img" src="../img/useful-card-4.webp" alt="Pic-4">
            <div class="useful-list__content-wrap">
              <p class="useful-list__descr text">Прежде всего, консультация с широким активом однозначно фиксирует
                необходимость распределения?</p>
              <button class="useful-list__btn btn-transparent btn-reset">Читать</button>
            </div>
          </li>
          <li class="useful-list__item useful-list__item--320">
            <img class="useful-list__img" src="../img/useful-card-5.webp" alt="Pic-5">
            <div class="useful-list__content-wrap">
              <p class="useful-list__descr text">Как принято считать, некоторые особенности приносят несомненную пользу
                обществу?</p>
              <button class="useful-list__btn btn-transparent btn-reset">Читать</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
