<section class="content">
  <div class="content__wrapper">
    <div class="content__container container">
      <div class="content__inner">
        <div class="content__info info">
          <div class="info__wrap-img">
            <picture>
              <source srcset="../img/sofa-detail_320.webp" media="(max-width: 400px)">
              <img class="info__img" src="../img/sofa-detail.webp" alt="Диван тканевый прямой “D-31”">
            </picture>
          </div>
          <div class="info__options info__options--768 options">
            <span class="options__rating grade">4,8</span>
            <h1 class="options__title title"><no-typography>Диван тканевый прямой “D-31”</no-typography></h1>
            <span class="options__specific">Мини 120 см без ящика Stark синий (Рогожка)</span>
            <span class="options__price">28 490 руб</span>
            <div class="options__link-wrap">
              <button class="options__btn btn btn-reset">Купить в один клик</button>
              <a class="options__add-basket" href="#">+ Добавить в корзину</a>
            </div>
          </div>
          <div class="info__descr">
            <h2 class="info__subtitle">Опорный механизм</h2>
            <p class="info__description">Опорный механизм напоминает пантограф, к которому добавили дополнительную
              секцию. У опорного дивана сиденье «выпрыгивает» вперёд и вытаскивает вторую часть спального места.
              Заключительный штрих — опустить спинку.</p>
            <p class="info__description">Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы,
              чтобы разложить диван, но
              подросток справится.</p>
          </div>
          <div class="info__scheme">
            <img class="info__scheme-img" src="../img/sofa-detail-scheme.webp"
              alt="Диван тканевый прямой “D-31” механизм открытия">
          </div>
          <table class="info__specifications info__specifications--768 specifications">
            <tbody class="specifications__table-body">
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Гарантия</span>
                  </span>
                </th>
                <td class="specifications__prop">18 месяцев</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Артикул</span>
                  </span>
                </th>
                <td class="specifications__prop">AAA41269004</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Длина</span>
                  </span>
                </th>
                <td class="specifications__prop">163 см</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Высота</span>
                  </span>
                </th>
                <td class="specifications__prop">90 см</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Глубина</span>
                  </span>
                </th>
                <td class="specifications__prop">108 см</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Спальное место</span>
                  </span>
                </th>
                <td class="specifications__prop">200 см х 125 см</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Высота посадки</span>
                  </span>
                </th>
                <td class="specifications__prop">45 см</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Механизм</span>
                  </span>
                </th>
                <td class="specifications__prop">Опорный</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Тип обивки</span>
                  </span>
                </th>
                <td class="specifications__prop">Рогожка</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Цвет</span>
                  </span>
                </th>
                <td class="specifications__prop">Синий</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Наполнитель</span>
                  </span>
                </th>
                <td class="specifications__prop">Независимый пружинный блок</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Материал каркаса</span>
                  </span>
                </th>
                <td class="specifications__prop">Металл. рама с дерев. латами</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Количество мест</span>
                  </span>
                </th>
                <td class="specifications__prop">Двухместные</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Категория</span>
                  </span>
                </th>
                <td class="specifications__prop">Прямые тканевые диваны</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Возврат</span>
                  </span>
                </th>
                <td class="specifications__prop">Условия</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="content__options options">
          <span class="options__rating grade">4,8</span>
          <h2 class="options__title title"><no-typography>Диван тканевый прямой “D-31”</no-typography></h2>
          <span class="options__specific">Мини 120 см без ящика Stark синий (Рогожка)</span>
          <span class="options__price">28 490 руб</span>
          <div class="options__link-wrap">
            <button class="options__btn btn btn-reset">Купить в один клик</button>
            <a class="options__add-basket" href="#">+ Добавить в корзину</a>
          </div>
          <table class="options__specifications specifications">
            <tbody class="specifications__table-body">
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Гарантия</span>
                  </span>
                </th>
                <td class="specifications__prop">18 месяцев</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Артикул</span>
                  </span>
                </th>
                <td class="specifications__prop">AAA41269004</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Длина</span>
                  </span>
                </th>
                <td class="specifications__prop">163 см</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Высота</span>
                  </span>
                </th>
                <td class="specifications__prop">90 см</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Глубина</span>
                  </span>
                </th>
                <td class="specifications__prop">108 см</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Спальное место</span>
                  </span>
                </th>
                <td class="specifications__prop">200 см х 125 см</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Высота посадки</span>
                  </span>
                </th>
                <td class="specifications__prop">45 см</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Механизм</span>
                  </span>
                </th>
                <td class="specifications__prop">Опорный</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Тип обивки</span>
                  </span>
                </th>
                <td class="specifications__prop">Рогожка</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Цвет</span>
                  </span>
                </th>
                <td class="specifications__prop">Синий</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Наполнитель</span>
                  </span>
                </th>
                <td class="specifications__prop">Независимый пружинный блок</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Материал каркаса</span>
                  </span>
                </th>
                <td class="specifications__prop">Металл. рама с дерев. латами</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Количество мест</span>
                  </span>
                </th>
                <td class="specifications__prop">Двухместные</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Категория</span>
                  </span>
                </th>
                <td class="specifications__prop">Прямые тканевые диваны</td>
              </tr>
              <tr class="specifications__item">
                <th class="specifications__name">
                  <span class="specifications__name-decor">
                    <span class="specifications__cell">Возврат</span>
                  </span>
                </th>
                <td class="specifications__prop">Условия</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
