<section class="similar">
  <div class="similar__wrapper">
    <div class="similar__container container">
      <div class="similar__inner">
        <h2 class="similar__subtitle subtitle">Похожие товары</h2>
        <ul class="similar__list rating-list list-reset">
          @include('../rating-sofas/rating-sofa-10.html')
          @include('../rating-sofas/rating-sofa-11.html')
          @include('../rating-sofas/rating-sofa-12.html')
          @include('../rating-sofas/rating-sofa-7.html')
        </ul>
      </div>
    </div>
  </div>
</section>
