<li class="offer-list__item offer-list__item--big">
  <article class="offer-list__card card card--sofa">
    <div class="card__img-wrap">
      <img class="card__img" src="../img/offer-sofa.webp" alt="Диван тканевый Z-44">
    </div>
    <h3 class="card__title subtitle"><no-typography>Диван тканевый “Z-44”</no-typography></h3>
    <div class="card__price-wrap">
      <span class="card__price">22&nbsp;990 руб</span>
      <span class="card__old-price">32&nbsp;990 руб</span>
    </div>
    <div class="card__difference-wrap">
      <span class="card__difference card__difference--sofa"><no-typography>- 10 000</no-typography></span>
    </div>
    <button class="card__btn btn-transparent btn-reset">Купить</button>
  </article>
</li>
