<li class="offer-list__item offer-list__item--sofa-320">
  <article class="offer-list__card card">
    <div class="card__img-wrap">
      <img class="card__img" src="../img/offer-sofa_320.webp" alt="Диван вел-флок “Z-85”">
    </div>
    <h3 class="card__title subtitle"><no-typography>Диван вел-флок “Z-85”</no-typography></h3>
    <div class="card__price-wrap">
      <span class="card__price">22 990 руб</span>
      <span class="card__old-price">32 990 руб</span>
    </div>
    <div class="card__difference-wrap">
      <span class="card__difference"><no-typography>- 10 000</no-typography></span>
    </div>
    <button class="card__btn btn-transparent btn-reset">Купить</button>
  </article>
</li>
