<li class="offer-list__item offer-list__item--768">
  <article class="offer-list__card card">
    <div class="card__img-wrap">
      <img class="card__img" src="../img/offer-alarm.webp" alt="Будильник Quartz-23">
    </div>
    <h3 class="card__title subtitle"><no-typography>Будильник “Quartz-23”</no-typography></h3>
    <div class="card__price-wrap">
      <span class="card__price">1&nbsp;290 руб</span>
      <span class="card__old-price">1&nbsp;890 руб</span>
    </div>
    <div class="card__difference-wrap">
      <span class="card__difference card__difference--alarm"><no-typography>- 600</no-typography></span>
    </div>
    <button class="card__btn btn-transparent btn-reset">Купить</button>
  </article>
</li>
