<li class="offer-list__item offer-list__item--dear">
  <article class="offer-list__card card">
    <div class="card__img-wrap">
      <img class="card__img" src="../img/offer-dear_320.webp" alt="Мини-скульптура “Oh my deer”">
    </div>
    <h3 class="card__title subtitle"><no-typography>Мини-скульптура “Oh my deer”</no-typography></h3>
    <div class="card__price-wrap">
      <span class="card__price">690 руб</span>
      <span class="card__old-price">990 руб</span>
    </div>
    <div class="card__difference-wrap">
      <span class="card__difference"><no-typography>- 300</no-typography></span>
    </div>
    <button class="card__btn btn-transparent btn-reset">Купить</button>
  </article>
</li>
