<li class="offer-list__item offer-list__item--thermometer">
  <article class="offer-list__card card">
    <div class="card__img-wrap">
      <img class="card__img" src="../img/offer-thermometer_320.webp" alt="Термометр + гидрометр “H-18”">
    </div>
    <h3 class="card__title subtitle"><no-typography>Термометр + гидрометр “H-18”</no-typography></h3>
    <div class="card__price-wrap">
      <span class="card__price">1 390 руб</span>
      <span class="card__old-price">2 090 руб</span>
    </div>
    <div class="card__difference-wrap">
      <span class="card__difference"><no-typography>- 700</no-typography></span>
    </div>
    <button class="card__btn btn-transparent btn-reset">Купить</button>
  </article>
</li>
