<li class="offer-list__item">
  <article class="offer-list__card card">
    <div class="card__img-wrap">
      <img class="card__img" src="../img/offer-chair.webp" alt="Кресло велюровое X-24">
    </div>
    <h3 class="card__title subtitle"><no-typography>Кресло велюровое “X-24”</no-typography></h3>
    <div class="card__price-wrap">
      <span class="card__price">15&nbsp;990 руб</span>
      <span class="card__old-price">24&nbsp;990 руб</span>
    </div>
    <div class="card__difference-wrap">
      <span class="card__difference"><no-typography>- 9 000</no-typography></span>
    </div>
    <button class="card__btn btn-transparent btn-reset">Купить</button>
  </article>
</li>
