:root {
  --color-crusta: #ff862f;
  --color-grey: #999999;
  --color-grey-shade: #666666;
  --color-grey-light: #f6f6f6;
  --color-md-grey: #eaeaea;
  --body-text-color: #333333;
  --btn-color: #f65cf0;
  --btn-hover: #c998fb;
  --btn-active: #7033ac;
  --offer-btn: #a65cf0;
  --color-pink: #ebd1ff;
  --color-pink-lite: #f8efff;
  --color-tel-hover: #ffbd59;
  --color-tel-focus: #fff5d1;
  --color-tel-active: #bb370e;
  --color-text-gold: #d5b986;
  --color-white: #fff;
}
