<section class="cooperation">
  <div class="cooperation__wrapper">
    <div class="cooperation__container container">
      <div class="cooperation__inner">
        <h1 class="cooperation__title title">Сотрудничество</h1>
        <div class="cooperation__providers providers">
          <h2 class="providers__subtitle subtitle">Поставщикам</h2>
          <p class="providers__descr text">При планировании обстановки торгового помещения важно обустроить его с
            комфортом
            для <br class="providers__transfer--768"> покупателей: грамотно зонировать, обеспечить эффективную
            демонстрацию и хранение товаров в зале. Если вам
            необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания
            эффективной торговой деятельности, мы поможем выбрать продукцию с <no-typography>учетом нагрузки от
              поступающего трафика.</no-typography></p>
        </div>
        <div class="cooperation__get get">
          <h2 class="get__subtitle subtitle">Что вы получаете?</h2>
          <p class="get__descr get__descr--first text">Мы ценим идеи и вдохновение и предлагаем сотрудничество <br>
            талантливым дизайнерам и
            архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.</p>
          <p class="get__descr get__descr--second text">Комплексное решение для красивого и функционального обустройства
            любых пространств.</p>
          <p class="get__descr get__descr--third text">В ассортименте представлены все товарные группы для того, чтобы
            воссоздать обстановку в помещениях разных типов: кабинетах, <br class="get__transfer--320">смешанных
            пространствах, Open Space, гостевых и переговорных <br class="get__transfer--320">комнатах.
          </p>
        </div>
        <div class="cooperation__advantages advantages">
          <h2 class="advantages__subtitle subtitle">Ваши преимущества от сотрудничества</h2>
          <h3 class="advantages__heading">Возможность 1:</h3>
          <p class="advantages__descr text">Создавайте незабываемые впечатления. Красиво меблированная фотостудия не
            оставит клиентов <no-typography>равнодушными, а созданная</no-typography> интерьером атмосфера будет надолго
            запечатлена на их снимках.
            Стильная и разноплановая обстановка творческого пространства <no-typography>–</no-typography> ключевая
            составляющая его успешной
            деятельности. Позаботьтесь о <no-typography>людях в кадре, а мы</no-typography> поможем правильно выбрать
            мебель.</p>
          <h3 class="advantages__heading">Возможность 2:</h3>
          <p class="advantages__descr text">Мы предлагаем застройщикам, работающим на территории РФ, участие наших
            специалистов от этапа проектирования обстановки <no-typography>квартир и подбора</no-typography> комплексных
            интерьерных решений до оптовых
            поставок мебели. Поможем организовать демонстрационный зал с образцами изделий и <no-typography>материалов
              на площади</no-typography>
            нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже
            самые взыскательные ожидания.</p>
        </div>
        <div class="cooperation__guarantees guarantees">
          <h2 class="guarantees__subtitle subtitle">Гарантии</h2>
          <ol class="guarantees__list">
            <li class="guarantees__item">
              <p class="guarantees__descr text">При приемке товара Покупатель должен внимательно проверить его
                количество, качество и <br class="guarantees__transfer--320">ассортимент на соответствие
                сопроводительным документам и заказу. После
                подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при
                приемке товара.</p>
            </li>
            <li class="guarantees__item">
              <p class="guarantees__descr text">На товары, сборка которых производилась покупателем самостоятельно (не
                специалистами <br class="get__transfer--768">Продавца), гарантийные обязательства
                <no-typography>Продавца не распространяются</no-typography>. Также гарантия не
                распространяется на повреждения товара, полученные в ходе самостоятельной доставки и подъема товара.
                Покупатель не вправе отказаться от товара надлежащего качества, имеющего <br
                  class="guarantees__transfer--768">индивидуально-определенные
                свойства, <no-typography>т.е.</no-typography> если товар может быть использован исключительно
                приобретающим его потребителем.
              </p>
            </li>
            <li class="guarantees__item">
              <p class="guarantees__descr text">Возврат или обмен товара возможен при условии, что сохранена упаковка,
                товарный вид&nbsp;и <br class="guarantees__transfer--320">потребительские свойства товара,
                <no-typography>а также товарный и кассовый чеки</no-typography>. В этом случае мы
                гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от
                товара при доставке, клиент оплачивает услуги доставки.
              </p>
            </li>
          </ol>
        </div>
        <div class="cooperation__term term">
          <p class="term__descr">Срок гарантии на нашу мебель составляет от 18 до 60 месяцев</p>
        </div>
      </div>
    </div>
  </div>
</section>
